@{
    ViewData["Title"] = "Gestión de Categorias";
}
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="container my-4">
    <h1 class="text-center mb-4">Gestión de Categorias</h1>
